<header>
  <nav class="menu-grid">
    <h1 class="title">Cine Max Max</h1>
    <ul class="menu">
      <li class="item menu-item">
        <a href="">Peliculas</a>
      </li>
      <li class="item menu-item">
        <a href="">Cartelera</a>
      </li>
      <li class="item menu-item">
        <a href="">Promociones</a>
      </li>
      <li class="item menu-item">
        <a href="">Confiteria</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="banner">
    <img src="./../../assets/banner.jpg" alt="bnner de peliculas" />
  </section>
  <section class="container">
    <div class="pelicula">
      <div class="pelicula-title">
        <h2>Proximos Estrenos</h2>
      </div>
      <div class="pelicula-grid">
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
        <div class="pelicula-item">
          <img src="./../../assets/xmen.jpg" alt="" />
          <h2>Pelicula title</h2>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="info">
    <div class="info-grid">
      <div class="info-item info-title">
        <h1>Cine Max Max</h1>
      </div>
      <div class="info-item info-programacion">
        <h3>Programacion</h3>
        <hr>
        <ul>
          <li>Cartelera</li>
          <li>Venta</li>
          <li>Proximamente</li>
        </ul>
      </div>
      <div class="info-item info-sobre">
        <h3>Sobre Cine Max Max</h3>
        <hr>
        <ul>
          <li>Nosotros</li>
          <li>Salas y Formatos</li>
          <li>Terminos y condiciones  </li>
        </ul>
      </div>
      <div class="info-item info-publicidad">
        <h3>Publicidad y Marketing</h3>
        <hr>
        <ul>
          <li>Eventos especiales</li>
          <li>Corporativo</li>
          <li>Publicidad</li>
        </ul>
      </div>
      <div class="info-item info-contacto">
        <h3>Contacto</h3>
        <hr>
        <ul>
          <li>Escribenos</li>
          <li>Trabaja con Nosotros</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
