<main>
  <section class="hero">
    <div class="hero-info">
      <h1 class="info-title">
        Check The <br />
        Best Food
      </h1>
      <p class="info-subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
        asperiores quos delectus corrupti sit, soluta porro hic tenetur odio eum
        nihil velit ipsum nam officiis, voluptate, assumenda nulla iure fuga.
      </p>
      <button class="info-button">React and angular</button>
    </div>
    <img
      class="hero-image"
      src="./../assets/img/hero.png"
      alt="Plato de comida"
    />
  </section>
  <section class="dishes">
    <h2 class="dishes-title">Our Services</h2>
    <div class="dishes-grid">
      <img
        class="dishes-item dishes-item__big"
        src="./../assets/img/video.png"
        alt="mesa con platos de pasta"
      />
      <img class="dishes-item" src="./../assets/img/dish1.png" alt="dishe 1" />
      <img class="dishes-item" src="./../assets/img/dish2.png" alt="dishe 2" />
      <img class="dishes-item" src="./../assets/img/dish3.png" alt="dishe 3" />
      <img class="dishes-item" src="./../assets/img/dish4.png" alt="dishe 4" />
    </div>
  </section>
  <section class="menu">
    <h2 class="menu-title">Home menu</h2>
    <div class="menu-grid">
      <div class="menu-grid-item">
        <img src="./../assets/img/plate1.png" alt="Plato 1" />
      </div>
      <div class="menu-grid-item">
        <img src="./../assets/img/plate2.png" alt="Plato 2" />
      </div>
      <div class="menu-grid-item">
        <img src="./../assets/img/plate3.png" alt="Plato 3" />
      </div>
      <div class="menu-grid-item">
        <img src="./../assets/img/plate4.png" alt="Plato 4" />
      </div>
      <div class="menu-grid-item">
        <img src="./../assets/img/plate5.png" alt="Plato 5" />
      </div>
    </div>
  </section>
</main>
